{% extends "base.html" %}
{% block content %}
  <div class="text-center" style="padding: 10% 0 5% 0">
    <h1>Все тесты</h1>
  </div>
  <a class="btn btn-warning" href="{{ url_for('tests.select_category') }}">Выбрать категорию</a>
  <form method="post" style="padding: 2% 0 2% 0">
      <input name="string" id="string" placeholder="Искать здесь..." type="search">
      <button type="submit" style="background-color: #FFCC00">Поиск</button>
  </form>
  {% for test in tests %}
  <div class="card" style="padding: 5%; margin: 2% 0">
      <p>Название: {{ test.name }}</p>
      <p>Автор: {{ test.author }}</p>
      {% if test.categories %}
        <p>Категории: {{ test.categories }}</p>
      {% endif %}
      <a class="btn btn-sm col-md-2" style="background-color: #772299; color: #FFFFFF;"
         href="{{ url_for('tests.do_test', test_id=test.id) }}">Пройти</a>
  </div>
  {% endfor %}

{% endblock %}