{% extends "base.html" %}
{% block content %}
  <div class="text-center" style="padding: 5% 0 0 0">
    <h1>Прохождение теста</h1>
    <h2>{{ test.name }}</h2>
  </div>

  <div style="margin: 5% 0">
  <form class="tasks" method="post">

      {% for question in test['questions'] %}
      <div class="card" style="padding: 5%; margin: 2% 0 0 0">
          Вопрос<br><b>{{ question.question }}</b><br>

          {% for answer in question['answers'] %}
          <div class="form-check">
              <input class="form-check-input" type="radio" name="{{ question['number'] }}"
                     id="{{ question['number'] }}.{{ answer }}"
                     value="{{ answer }}"
                     {% if loop.first %} checked {% endif %}>
              <label class="form-check-label" for="{{ question['number'] }}.{{ answer }}">
              {{ answer }}
              </label>
          </div>
          {% endfor %}

      </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary" style="margin: 2% 0 0 0">Отправить ответы</button>
  </form>
  </div>
{% endblock %}